<h1>Your Results:</h1>

<div class="col-lg-6 row-fluid white-background">
	<ul id="search_results">
		<div class="center-coordinates">
			<div class="latitude"><%=@center[0]%></div>
			<div class="longitude"><%=@center[1]%></div>
		</div>
		<% if @spots.empty? %>
		<p>There are no parking spots in this area yet :(</p>
		<% end %>
		<% @spots.each do |spot| %>
		<li id="show_white_list"><p>
			<a id="show_pink_links" href="/spots/<%=spot.id%>"><%= spot.address %></a><br>
			<%= spot.city%>, <%=spot.state %><br>
			Price: $<%=spot.price%>/month<br>
			Posted by: <a id="show_pink_links" href="/users/<%=spot.user.id%>"><%= spot.user.username%></a> on <%= spot.created_at %><br>
			<%= spot.distance_from(@center) %>mi away
			<div class="latitude"><%=spot.latitude%></div>
			<div class="longitude"><%=spot.longitude%></div>
		</p></li>
		<% end %>
	</ul>
</div>

<div class="col-lg-6">
	<div id="map"></div>
</div>

