<h1>Your Results:</h1>

<div class="col-lg-6" class="row-fluid">
	<ul id="search_results">
	  <% @spots.each do |spot| %>
	    <li><%= spot.address %><br>
	    <%= spot.city%>, <%=spot.state %><br>
	    Posted by: <%= spot.user.username%> at <%= spot.created_at %>
	    	<div class="latitude"><%=spot.latitude%></div>
	    	<div class="longitude"><%=spot.longitude%></div>
	    </li>
		<% end %>
	</ul>
</div>

<div class="col-lg-6">
	<div id="map"></div>
</div>

