<div class="col-lg-6" class="row-fluid">
	<h1><%=@user.username%>'s Profile</h1>
	<h2>Below are <%=@user.username%>'s postings:</h2>
		<% if @user.parking_spots == nil %>
			<p>You haven't posted anything yet! :(</p>
		<% else %>
			<ol id="search_results">
				<div class="center-coordinates">
					<div class="latitude"><%=@user.parking_spots.first.latitude%></div>
					<div class="longitude"><%=@user.parking_spots.first.longitude%></div>
					</div>
			<% @user.parking_spots.each do |spot| %>
				<li>
					<p>
					<a href="/spots/<%=spot.id%>"><%= spot.address %></a><br>
					<%= spot.city %>, <%= spot.state %><br>
					Posted on: <%= spot.created_at %> 
					<div class="latitude"><%=spot.latitude%></div>
		    	<div class="longitude"><%=spot.longitude%></div>
		    	</p>
				</li>
			<% end %>
			</ol>
		<% end %>
</div>

<div class="col-lg-6">
	<div id="map"></div>
</div>
