<!DOCTYPE html>
<html lang="en">
<head>
<!--
  normalize.css removes cross-browser differences in defaults, e.g.,
  differences in how form elements appear between Firefox and IE
  See: http://necolas.github.com/normalize.css/
-->
<link rel="stylesheet" href="/css/normalize.css">
<!--
  application.css is where you put your styles
-->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" href="/css/application.css">

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_key']%>&callback=initMap">
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/application.js"></script>

<title>CityPark</title>
</head>
<body>
  <div class="container-fullwidth">
    <nav class="navbar navbar-light bg-faded">
      <ul class="navbar-nav nav">
       <li><a href="/">Home</a></li>
       <% if logged_in %>
       <li>
         <a href="/sessions/<%= current_user.id %>">Logout</a>
       </li>
       <li>
         <a href="/users/<%= current_user.id %>">Profile</a>
       </li>
       <li>
         <a href="/users/<%= current_user.id %>/edit">Edit Settings</a>
       </li>
       <li>
         <a href="/spots/new">Post a New Spot</a>
       </li>
       <li>
        <div class="col-sm-3 col-md-3 pull-right">
          <form class="navbar-form navbar-left" action="/users/search" method="POST" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search for user" name="search">
            </div>
            <button class="btn btn-primary" type="submit"><span></span>Search</button>
          </form>
        </li>
        <li id="login_status">You are logged in as <a id="current_user_link" href="/users/<%=current_user.id%>"><%= current_user.username %></a></li>

        <% else %>
        <li><a href="/sessions/login">Login</a></li>
        <li><a href="/users/new">Sign Up</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div id="padding_text">
    <%= yield %>
  </div>
</body>
</html>
